/*
font-family: 'Anton', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Acme', sans-serif;
*/

  * {
  -webkit-box-sizing: border-box;
     -mox-box-sizing: border-box;
          box-sizing: border-box;
  }

  html, body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1 0 auto;
  }

  h5{
    color: #FAFAFA;
    font-family: 'Fjalla One', sans-serif;
  }

  p{
    font-size: 16px;
  }

  .icon{
    font-size: 100px;
  }

  .icon-arrow-up{
    color: #2BBBAD;
    font-size: 40px;
    margin-right: .5em;
  }

  .icon-heart{
    color: red;
  }
  .social-media{
    background: #2BBBAD;
    padding: 1.5em 2em 2em 2em;
  }

  .social-media-icon{
    color: #FAFAFA;
    font-size: 50px;
    margin: .25em;
  }

  .social-media-icon:hover{
    color: #212121;
  }

  .servicios-icon:hover{
    color: #2BBBAD;
  }

  .banner-heads {
    width: 100%;
    z-index: 2;
  }

  .banner-heads a {
    color: #fff;
  }

  .banner-heads a:hover {
    color: #fff;
  }

  .container-heads{
    box-shadow: 0 0 0 0 rgba(0,0,0,0.14), 0 0 0 0 rgba(0,0,0,0.12), 0 0 0 -0 rgba(0,0,0,0.2);
    padding: 0 5em;
  }

  .logo-heads {
    float: left;
    font-size: 22px;
    margin: 0;
    padding-top: 39px;
  }

  .nav-heads {
    float: right;
    height: 40px;
    margin: 15px 0 0;
    padding: 20px 0 0 0;
  }

  .nav__item-heads {
    display: inline-block;
    height: 40px;
    font-weight: lighter;
    margin-left: 10px;
    line-height: 40px;
    padding: 0;
  }

  .header-Container, .header-name, .header-carrera{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .header-Container{
    background-image: url('../images/AgenciaCoder.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: -4.5em 0 0 0;
    padding: 0;
    min-height: 105vh; /*ancho de pantalla visible*/
  }

  .header-name, .header-carrera{
    color: white;
    text-align: center;
  }

  .input-field {
    color: white;
  }

  .servicios{
    margin: 1em 0 ;
  }

  .title-copy{
    color: white;
  }

  .title{
    background: black;
    color: white;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
    margin: 0 0 .5em 0;
    padding: .5em 0 1.5em 0;
    text-align: center;
  }

  #top > div.card-panel.grey.lighten-5.z-depth-1{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    margin: -1.5em 0 0 0;
    padding: 3em 2em;
  }

  .footer-form{
    margin-top: -2em;
    padding-top: 5em;
  }

  .footer-contacto{
    color: white;
    padding: 0 10%;
  }

  .footer-copyright{
    background: #212121;
    margin: 0;
    padding: 2em 0 2em 0;
  }


  /*******desktop**************************************************** */
  @media (min-width: 992px){

  	/*body{
  		background: orange;
  	}*/

    img{
      width: 250px;
    }

    .nosotros{
      padding: 2em;
    }

    .mobile-navbar{
      display: none;
    }

  }
  /*******tablet***************************************************** */
  @media (max-width: 992px){
/*
  	body{
  		background: blue;
  	}*/

    .banner-heads{
      display: none;
    }

  }
  /*******phones*************************************************** */
  @media (max-width: 480px){
/*
  	body{
  		background: green;
  	}*/

  }
  /*******ipod**************************************************** */
  @media (max-width: 326px){
/*
  	body{
  		background: peru;
  	}*/

  }








/**/
